<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.BookRepository">
    <resultMap id="Book" type="com.example.demo.entity.Book">
        <id property="bId" column="b_Id" javaType="java.lang.Integer"/>
        <result property="bName" column="B_Name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="bAuthor" column="b_Author" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="bPublishingHouse" column="b_Publishing house" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="bDate" column="b_Date" javaType="java.sql.Date" jdbcType="DATE"/>
        <result property="bNumber" column="b_Number" javaType="java.lang.Integer"/>

    </resultMap>

    <select id="bookAll" resultMap="Book">
        select * from  Books
    </select>
    <select id="bookByID" parameterType="Integer" resultMap="Book">
        select * from  Books where b_Id=#{bId}
    </select>
    <delete id="deleteById" parameterType="Integer" >
        delete * from  Books where b_Id=#{bId}
    </delete>
    <insert id="saveBook" parameterType="book" >
        insert into Borrow Book(B_Name,b_Author,b_Publishing house,b_Date,b_Number)
        values (#{bName}, #{bAuthor}, #{bPublishingHouse},#{bDate},#{bNumber})
    </insert>
</mapper>